$pink: #FA9191;
$yellow: #f3b94e;
$lightBlue: #63b7af;
$white: #fff;
$grey: #f5f5f5;
$pink2: #ffe8df;
$titulos: "Lora";
$fontBody: "Lato";
$fontFantasia: "Dancing Script";

$colors: (pink: #FA9191, yellow: #f3b94e, lightBlue: #63b7af, white: #fff, grey: #f5f5f5, pink2: #ffe8df);


@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root{
	font-size: 10px
}
*{box-sizing: border-box;}

@mixin fontySize($font,$size){
    font-family: $font;
    font-size: $size;
}
    
.titulos-paginas{
   @include fontySize($titulos, 5rem);
   text-align: center;
   font-weight: bolder;
}

@each $nombre, $color in $colors {
    .texto-#{$nombre}{
        color: $color;
    }   
    .fondo-#{$nombre}{
        background-color: $color;
    } 
}

body{
    @include fontySize($fontBody, 1.8rem);
}

@keyframes aparicionLogo{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.menu{
	text-align: center;
	font-size: 2rem;
	padding: 1.5rem;
	border-bottom: 2px solid $grey;
	margin-bottom: 1rem;
    div{
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .padre-enlaces{
            a{
                padding: 15px;
                background-color: $white;
                color: lighten($yellow, 5%);
                text-decoration: none;
                font-weight: bolder;
                &:hover{
                text-decoration: underline;
                }
            }
        }
    }
}
.navbar-toggler-icon{
    width: 3rem;
    height: 3rem;
}

.encabezado{
	background-image: url("../imagenes/torta2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    margin-top: 8vh;
	padding: 15vh;
    overflow: hidden;
    text-align: center;
    .contenedor-logo{
        overflow: hidden;
        width: 25vw;
        height: 30vh;
        border-radius: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        animation-name: aparicionLogo;
        animation-duration: 2000ms;
    }
    img{
        width: 250px;
    }
}


.seccion-1{
	line-height: 1.5;
	padding: 10px;
	margin: 10px;
	margin-left: 5vw;
    article{
	line-height: 1.5;
    }
    form{ 
        div{
        margin-bottom: 2vh;
            input{
                border: 0;
	            border-bottom: 1px solid #555;
	            background-color: transparent;
	            padding: 5px;
            }
        }
    }
}
.subtitulo-inicio{
    padding: 8px;
    background-color: white;
}

#parrafo-inicio {
	font-size: 1.8rem; 
	line-height: 1.2;
	display: inline-block;
}
#alejandra{
    flex-basis: 100%;
    max-width: 300px;;
}

.subtitulo{
    @include fontySize($fontBody, 3.5rem);
    padding: 2rem;
    margin-top: 50px;
}
.seccion-2{
	margin-left: 5vw;
    margin-bottom: 4vh;
    div{
        h3{
            font-family: $titulos;
	        font-size:2rem;
        }
    }
    article{
        line-height: 1.5;
    }
    form{
        div{
            margin-bottom: 2vh;
            input{
                border: 0;
                border-bottom: 1px solid #555;
                background-color: transparent;
                padding: 5px;
            }
        }
    }
}

.carousel-item{
	overflow: hidden;
	height: 60vh;
	justify-content: center;
	align-items: center;
}

.menus-semanales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch; 
    .menu-semanal-item{
    max-width: 300px;
    position: relative;
	margin: 1rem;
	padding: 0.5vw;
	border: 2px solid $yellow;
	line-height: 2;
    background-color: $white;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .imagenes-menus{
            overflow: hidden;
            width: 15vw;
            height: 20vh;
            display: block;
            margin: auto;
            justify-content: center;
            align-items: center;
            justify-items: center;
            img{
                max-width: 200px;
                flex-basis: 100%;

            }
        }
        h3{
            @include fontySize($fontFantasia, 3rem);
        }  
    }
    }
}

.style-none{
    li{
        list-style: none;
        font-style: normal;
    }
}

.precio{
    font-weight: bolder;
}

.contenedor-imagenes-bottom{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.receta{
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-right: 2vw;
	overflow: auto;
    background-color:$white; 
    @include fontySize($fontBody,1.5rem );
	padding: 2.5rem;
    border: 4px dotted $yellow;
    h2{
        @include fontySize($fontFantasia, 3rem );
        border-bottom: 2px solid $yellow;
        text-align: center;
    }
    h3{
        @include fontySize($fontFantasia,2.5rem);
        text-align: center;
    }
    ol{
        margin-bottom: 2vh;
    }
    .contenedor-receta{
        display: block;
        margin-right: auto;
        margin-left: auto; 
        width: 15vw;
        height: 15vh;
        overflow: hidden;
        border-radius: 20%;
        img{
            flex-basis: 100%;
            width:100%;
            height: auto;
            align-items: center;
        }
    }
}
footer{
	background-color: rgba(196,196,196,0.8); 
	font-style: oblique;
}
ul {
    li {
	color: #6B6B6B; font-weight: bold; line-height: 1.2;
    }
}
ol{ 
    li {
	color: #2B2B2B; font-style: italic; line-height: 1.2;
    }
}

.img-thumbnail{
    &:hover{
        transform: scale(1.3); 
    }
}

#lista-pasteleria{
	margin: 10px;
}
.flex-clases{
	display: flex;
	flex-direction: column;
}
.curso{
	
	border: 2px solid $yellow;
}

button + button{
	margin: 2rem;
}

@media (max-width: 575px){
	.menu{
        font-size: 1.5rem;
        padding: .5rem;
        div{
            div{
                a{
                    padding: 3px;
                }
            }
        }
    }
    a+a{
        margin-right: 5px;
    }
	.encabezado{
        margin-top: 6vh;
        h1{
            font-size: 4rem;
        }
    }
    .receta{
        .contenedor-receta{
            img{
                display: none;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 991px){
    .menu{ 
        font-size: 1.6rem;
        div{
            div{
                a{
                    padding: 3px;
                }
            }
        }    
    }
	.encabezado{
        margin-top: 7vh;
        h1{
            font-size: 4rem;
        }
    }
    .receta{
        .contenedor-receta{
            img{
                display: none;
            }
        }
    }
}

@media (min-width: 1100px){
    a+a{
        margin-right: 25px;
    }
    /*.pagina-clases{
        margin-right: 8vw;
    }
    .pagina-pasteleria{
        margin-right: 8vw;
    }*/
}